html {
  height: 1990px;
}

body {
  background: linear-gradient(#47acf5, #3c7);
  background-repeat: no-repeat;
}

a {
  display: block;
  margin: 20px 20px;
  font-size: 24px;
  text-decoration: none;
  color: black;
}

p {
  font-family: arial;
  font-size: 60px;
  letter-spacing: 3px;
}

em {
  letter-spacing: 15px;
}

#ttop {
  position: fixed;
  top: 290px;
}

#tbottom {
  position: absolute;
  display: flex;
  top: 1000px;
  padding-bottom: 230px;
  align-items: center;
  justify-content: center;
  height: 100%;
}
